# Gradle files
.gradle/
build/
*/build/
gradle-app.setting
.gradletasknamecache

# Local configuration file
local.properties
keystore.properties

# Android Studio/IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/vcs.xml
.idea/misc.xml
.DS_Store

# Android
/captures
.externalNativeBuild
.cxx/
*.apk
*.aab
*.ap_
*.dex
*/bin/
*/gen/
*/out/

# iOS
## Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.xcuserstate

## CocoaPods
Pods/
iosApp/Pods/
Podfile.lock
iosApp/Podfile.lock
**/xcshareddata/WorkspaceSettings.xcsettings

# Generated Kotlin / Swift interop files
shared/build/cocoapods/
shared/build/bin/
shared/build/generated/

# Kotlin Multiplatform
.kotlin/

# Firebase 
# Keep these commented if you want to exclude Firebase config files due to API keys
# Uncomment if you want to include them in source control
# google-services.json
# GoogleService-Info.plist

# Misc
*.log
*.orig
*.sqlite
*.pyc
.tmp/
tmp/
.kotlin/